<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>DUDITO</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200 flex flex-col items-center justify-center h-screen  ">
    <h1 class="text-3xl font-bold mb-6">Ejecutamos Flask en Colab externamente</h1>
    <form method="POST" class="bg-indigo-500 p-5 rounded shadow-md w-96">
        <label class="bg-indigo-400 block mb-2 font-semibold">Email:</label>
        <input type="text" name="email" class="w-full p-2 border rounded mb-4">
        <input type="submit" value="Enviar" class="bg-indigo-400 text-white px-4 py-2 rounded hover:scale-110 transition hover:bg-indigo-900 cursor-pointer">
    </form>
</body>
</html>